# Ignora tutte le sottocartelle di Notebooks/venv tranne Arguments
Notebooks/Arguments
Notebooks/Data
Notebooks/venv
Notebooks/Exam/LIGO
Notebooks/Exam/BHB_formation.ipynb
Notebooks/Exam/CloningQuasars.ipynb
Notebooks/Exam/GRB.ipynb
Notebooks/Exam/Horsekick.ipynb
Notebooks/Exam/HR.ipynb
Notebooks/Exam/IrreducibleMass.ipynb
Notebooks/Exam/MonteCarlo.ipynb
Notebooks/Exam/MontyHall.ipynb
#Notebooks/Exam/PlanTelescObs.ipynb
#Notebooks/Exam/SDSS_GQ.ipynb
#Notebooks/Exam/StarPosition.ipynb
#Notebooks/Exam/supernovae_part3.ipynb
#Notebooks/Exam/supernovae.ipynb