# Ignora tutto
*

# Eccezioni: cartelle che vogliamo includere
!Notebooks/
Notebooks/*
!Notebooks/Data/
!Notebooks/venv/
Notebooks/venv/*
!Notebooks/venv/Arguments/

# Non ignorare questi file specifici nella root
!.gitignore
!README.md
